
@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    #pointer {
        cursor: pointer;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

    #Form .label {
        line-height: 35px;
        margin: auto;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }
        .jss365 {
             border-width: 2px; 
            border-style: solid;
             border-radius: 16px; 
             border-top-left-radius: 5px; 
             border-bottom-right-radius: 5px;
             background: transparent; 
        }
</style>

<!-- Content Header (Page header) -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Đơn hàng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/HomeAdmin/Index">Home</a></li>
                        <li class="breadcrumb-item active">Đơn hàng</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">

                        <div class="col-2">
                            <input type="text" ng-model="txtSerach" class="form-control" placeholder="Serach..." />
                        </div>
                        @*<div class="col-2">
                                <select id="TrangThaiThanhToan" style="width:100%;" ng-model="MaLoai" class="form-control" ng-options="list.MaLoai as list.TenLoai for list in ListLoaiSP" ng-change="ChangListSP()">
                                    <option value="" selected>--Chọn loại sản phẩm--</option>
                                </select>
                            </div>*@
                        <div class="col-2">
                            <select id="TrangThai" style="width:100%;" ng-model="TrangThai" class="form-control">
                                <option value="" selected>--Trạng thái--</option>
                                <option value="0">Chờ xử lý</option>
                                <option value="1">Đã xử lý</option>
                                <option value="2">Đang giao hàng</option>
                                <option value="3">Đã nhận hàng</option>
                                <option value="4">Đã hủy</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control datepicker" placeholder="Chọn ngày đặt" id="datePicker" ng-model="NgayDat" />
                        </div>
                        <div class="col-1">
                            <button ng-click="Timkiem()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-2">

                        </div>
                        <div class="col-3 " style="text-align:center;float:right">
                            <button style="margin-left:10px;" ng-click="btnADD() " class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Thêm</button>
                            <button style="margin-left:10px;" ng-click="btnXuatFile()" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i> Xuất file</button>
                            <button style="margin-left:10px;" ng-click="btnDetele()" class="btn btn-default pull-right" ><i class="fa fa-trash" ></i> Xóa</button>
                            <button style="margin-left:10px;" ng-click="btnConvertList()" class="btn btn-default pull-right"><i class="fa fa-refresh "></i> Xử lý</button>

                            @*<button style="margin-left:10px;" ng-click="btnDocFile()" class="btn btn-default"><i class="fa fa-upload"></i> Nhập file</button>*@

                        </div>

                    </div>

                </div>
                <!-- /.card-header -->
                <div class="card-body" id="table-tbody" style="display:none">
                    <table class="table table-striped table-hover table-bordered" style="text-align:center">
                        <thead>
                            <tr class="success" style="font-weight:bold">
                                <th>
                                    <div class="checkbox" >
                                        <label style="margin-left:10px;">
                                            <input type="checkbox" ng-model="checkALL" ng-click="Checked()">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>

                                        </label>
                                    </div>
                                </th>
                                <th>Khách hàng</th>
                                <th>Ngày đặt</th>
                                <th>Phi ship</th>
                                <th>Tổng tiền</th>
                                <th>Phương thức thanh toán</th>
                                <th>Trạng thái thanh toán</th>
                                <th>Trạng thái đơn hàng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr dir-paginate="list in ListDonHang |  itemsPerPage:10 | filter:txtSerach as filtered" style="height:10px;">
                                <td >
                                    <div class="checkbox" style="height: 10px;line-height: 80px;">
                                        <label style="margin-left: 10px;">
                                            <input type="checkbox" value="{{list.MaDB}}" ng-model="CheckMaDH" ng-checked="checkALL" name="Check">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        </label>
                                    </div>
                                </td>
                                <td style="line-height:55px;" id="pointer"><a href="" ng-bind="list.KHACHHANG.TenKH" style="color:#007bff;" ng-click="ViewDetail(list.MaDB)"></a></td>
                                <td style="line-height:55px;" ng-bind="list.Date"></td>
                                <td style="line-height:55px;color:red" ng-bind="list.PhiShip|number:0"> <span style="color:red" ng-show="list.PhiShip!=0"></span></td>
                                <td style="line-height:55px;color:red" ng-bind="list.TongTien|number:0"> <span style="color:red" ng-show="list.PhiShip!=0"></span></td>

                                <td style="line-height:55px;font-weight:bold" ng-if="list.PhuongThuc==0"><span ng-bind="ThanhTaiNha"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.PhuongThuc==1"><span ng-bind="ThanhToanThe"></span></td>

                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThaiThanhToan==0"><span  ng-bind="TrangThaiChuaThanhToan"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThaiThanhToan==1"><span  ng-bind="TrangThaiDaThanhToan"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThaiThanhToan==2"><span  ng-bind="TrangThaiDaHoantien"></span></td>


                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThai==0"><span  ng-bind="TrangThaiChoXuLy"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThai==1"><span  ng-bind="TrangThaiDaXuLy"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThai==2"><span  ng-bind="TrangThaiDangGiaoHang"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThai==3"><span  ng-bind="TrangThaiDaNhanHang"></span></td>
                                <td style="line-height:55px;font-weight:bold" ng-if="list.TrangThai==4"><span  ng-bind="TrangThaiKhachHuyHang"></span></td>


                                <td >
                                    <button class="btn btn-primary" style="font-weight:bold;margin-top:9px;" ng-if="list.TrangThai==0 || list.TrangThai==1 || list.TrangThai==2" ng-click="Convert(list)"><i class="fa fa-refresh"></i> Xử lý</button>
                                    <button class="btn btn-success" style="font-weight:bold;margin-top:9px;" ng-if="list.TrangThai==3" ng-click="Convert(list)"><i class="fa fa-check"></i> Ok</button>
                                    <button class="btn btn-default" style="font-weight:bold;margin-top:9px;" ng-if="list.TrangThai==4" ng-click="Convert(list)">Đã hủy</button>
                                </td>
                                <td colspan="9" ng-if="filtered.length === 0">
                                    <span ng-bind="MessengerDH"></span>
                                </td>

                            </tr>
                            @*<tr ng-if="ListDonHang.length===0">
                                    <td colspan="9" ng-bind="MessengerDH"></td>
                                </tr>*@

                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <center style="margin:auto">
                    <dir-pagination-controls max-size="10"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </center>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div style="display: none;">
    @Html.Action("SaveDonHang", "Donhang");
</div>
<div style="display: none;">
    @Html.Action("ConvertList", "Donhang");
</div>
@section Angularjs{
    <script src="~/Scripts/DonHang/DonHang.js"></script>
}

