
.loading-indicator {
    height: 200px;
    width: 200px;
    background: url('../../img/loading-bars.gif') no-repeat center center;
    margin-top:-100px;
}

.loading-indicator-overlay {
  background-color: #FFFFFF;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
