@{ 
    Layout = "";
}
<div class="container-fluid">
    <div id="ShowPopup">
        <br />
        <form role="form" id="Form" name="EditForm" ng-submit="SaveAction(tableInfo.AddUrl,EditForm)">
            <div class="row col-lg-12" style="margin: 0;">
                <div>
                    <h3 style="text-transform: none;font-weight:bold" ng-bind="Titile"></h3>
                </div>
            </div>
            <hr />
            <div class="row col-lg-12" style="margin: 0;">
                <div class="col-md-2">
                    <label class="label">Tên sản phẩm <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="Data.TenSP" />
                </div>
                <div class="col-md-2">
                    <label class="label">Nhà cung cấp <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4">
                    <select style="width:100%;" ng-model="Data.MaNCC" class="form-control" ng-options="list.MaNCC as list.TenNCC for list in ListNCC">
                        <option value="" selected>--Chọn nhà cung cấp--</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row col-lg-12" style="margin: 0;">
                <div class="col-md-2" ng-show="isShowGiaNhap">
                    <label class="label">Giá Nhập <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4" ng-show="isShowGiaNhap">
                    <input type="text" class="form-control" ng-model="Data.GiaNhap" ng-change="ChangGiaBan()" />
                </div>
                <div class="col-md-2" ng-show="isShowNeworOld">
                    <label class="label">Chuyển đổi <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4" ng-show="isShowNeworOld">
                    @*<input type="text" class="form-control" ng-model="Data.NeworOld" ng-change="ChangNeworOld()" />*@
                    <select class="form-control" ng-model="Data.NeworOld" ng-change="ChangNeworOld()">
                        <option value="" selected>--Chọn xem--</option>
                        <option value="img_icone" selected>Sản phẩm mới</option>
                        <option value="hot_img" >Sản phẩm hot</option>
                        <option value="old" >Sản cũ</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="label">Loại sản phẩm <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4">
                    <select style="width:100%;" ng-model="Data.MaLoai" class="form-control" ng-options="list.MaLoai as list.TenLoai for list in ListLoaiSP">
                        <option value="" selected>--Chọn loại sản phẩm--</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row col-lg-12" style="margin: 0;">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-4" ng-show="isShowAvatar">
                    <center>
                        <div class="kv-avatar">
                            <div class="file-loading">
                                <input id="avatar-2" name="avatar-2" type="file" onchange="angular.element(this).scope().setFile(this)" required>
                            </div>
                        </div>
                    </center>                    
                </div>
                <div class="col-md-4" ng-show="isShowKhungAnh">
                    <img ng-src="/img/{{Data.KhungAnh}}" alt="" id="dispImg" class="img-thumbnail" width="300" height="300">
                </div>
                <div class="col-md-2">
                    <label class="label">Hệ số bán <span style="color:red">(*)</span></label>
                </div>
                <div class="col-md-4">
                    <select style="width:100%;" ng-model="Data.HeSo" class="form-control">
                        <option value="" selected>--Chọn hệ số--</option>
                        <option value="10">10%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                    </select>
                </div>
            </div>
            <br />
            @*<div class="row col-lg-12" style="margin: 0;">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <img ng-src="{{Data.KhungAnh}}" alt="" id="dispImg" class="img-thumbnail" width="300" height="300">
                </div>

                <div class="col-md-5">
                    <div style="margin-top:55px;margin-left:-30px;">
                        <input type="file" id="ctrlFile" onchange="angular.element(this).scope().setFile(this)" style="clear:both" name="file">
                    </div>
                </div>
            </div>*@
            <hr />

            <div class="row col-lg-12">
                @*---------------------------------------------------------------Gửi duyệt lại và bỏ qua-------------------------------------------------------------------------------------------------------*@
                <center style="margin:auto">
                    <button title="Thêm mới" type="button" class="btn btn-primary btn-labeled" ng-click="Send()">
                        <span class="btn-label">
                            <i class="{{IconButton}}"></i>
                        </span>{{ButtonTitle}}
                    </button>
                    <button type="reset" class="btn btn-labeled" ng-click="ClosePopup()">
                        <span class="btn-label">
                            <i class="fa fa-close"></i>
                        </span>Bỏ qua
                    </button>
                </center>
            </div>
            <div class="row col-lg-12">

            </div>
        </form>

    </div>
</div>
